<html>
<body>
{{#beer}}
{{name}}, {{brewery}}, {{rating}}, {{comment}}<br>
{{/beer}}
<form action="/edit-beer" method="post">
    <input type="text" name="name" placeholder="Name"/>
    <input type="text" name="location" placeholder="Location"/>
    <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <input type="text" name="comments" placeholder="Comment"/>
    <button type="submit">Submit</button>
</form>
</body>
</html>